@value gridBaseline from 'assets/css/common.css';
@value colorPrimary0, colorPrimary1, colorPrimary2 from 'assets/css/colors.css';
@value textLarge, textNormal from 'assets/css/fonts.css';


.panel {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.headingContainer {
  display: flex;
  background-color: white;
  color: black;
  padding: gridBaseline;
  justify-content: center;
  align-items: center;
}

.heading {
  font-weight: bold;
}

.contentContainer {
  background-color: black;
  align-items: stretch;
  padding: gridBaseline;
  color: white;
}
